{% extends "base.html" %}

{% block content %}

<div class="container">

    <p>Welcome to Shmoovies (aka. movie reviews). This website contains reviews from people on all different kinds on movies!</p>

    {% if session['username'] %}
    <a href="/add"><button>Add reviews</button></a>
    {% endif %}

</div>

<br>

<table class="review_table">

    <thead>
        <th>Title</th>
        <th>Review Text</th>
        <th>Rating</th>
        <th>User</th>
    </thead>

    <tbody>
        {% for review in Reviews %}
        <tr>
            <td>{{ guess['movie_title'] }}</td>
            <td>{{ guess['review_text'] }}</td>
            <td>{{ guess['rating'] }}</td>
            <td>{{ guess['posted_time'] }}</td>
        </tr>
        {% endfor %}
    </tbody>

</table>

{% endblock %}