{% extends "base.html" %}

{% block content %}

<div class="container">

    <p><b>Welcome to Shmoovies (aka. movie reviews). This website contains reviews from people on all different kinds on movies!</b></p>


</div>

<br>

    <body>

        <div class="container">
          <h1>Schmoovies</h1>
          
          {% if Reviews %}
            {% for review in Reviews %}
              <div class="review">
                <div class="review-text">
                  <strong>{{ review['movie_title'] }}</strong><br>
                  <small>By {{ review['username'] }}</small><br>
                  <small>Date of review: {{ review['posted_time'] }}</small>
                  <p>{{ review['review_text'] }}</p>

                </div>
                <div class="rating">{{ review['rating'] }}/5 🍅</div>
              </div>
            {% endfor %}
          {% else %}
            <p>No reviews available.</p>
          {% endif %}
        </div>
      </body>

</table>

{% endblock %}